
body {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}
header{
    background:#2580a2;
    height:100px;
    width:100%;
    left:0; top:0px; bottom: 0;
    position:absolute;
    color:#FFF;
    overflow:hidden;
    margin: 0;
    padding-left: 15px;
}

footer{
    background-color: #2580a2;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3em;
    width: 100%;
    overflow:hidden;
    color: #FFF;
}
footer a{
    position:absolute;
    left:50px;
    top:13px;
    color: #FFF;
}
#content {
    background:#FFF;
    border-left: 1px solid #2580a2;
    position: absolute;
    left:200px; top:100px; right:0; bottom:0;
    padding-left: 20px;
    overflow:auto;
}

#menu {
    background:#FFF
    list-style: none;
    margin: 0;
    padding: 0;
    position:absolute;
    left:0; top:100px; bottom: 0;
    width: 200px;
    border-right: 1px solid #2580a2;
}

#menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu li input{
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-size: 16px;
    background: #FFF;
    color: #393939;
    display: block;
    margin: 0;
    padding: 8px 12px;
    border:0;
    border-bottom: 1px solid #2580a2;
    text-decoration: none;
    font-weight: normal;
    width: 200px;
    text-align:left;
}
#menu li input:hover {
    background: #2580a2;
    color: #fff;
    padding-bottom: 8px;
}
#menu li #submenu{
     padding-left:30px;
 }
#menu a {
    border-bottom: 1px solid #2580a2;
    color: #393939;
    display: block;
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: normal;
}
#menu a:hover {
    background: #2580a2;
    color: #fff;
    padding-bottom: 8px;
}
